/* colors */

:root {
  --basic-title-dark: #000000;
  --basic-title-light: #FFFFFF;
  --basic-paragraph-dark: #283136;
  --basic-paragraph-medium: #444444;
  --basic-paragraph-light: #666666;
  --basic-background: #EEEEEE;


  --special-red: #FB565A;
  --special-red-hover: #E74246;
  --special-red-active: #D7373B;

  --special-yellow: #EFC849;
  --special-yellow-hover: #EAB534;
  --special-yellow-active: #E5A722;

  --special-green: #00CA74;
  --special-green-hover: #00BC6C;
  --special-green-active: #00AA62;

  --special-sort-arrow: #231F20;
  --special-page-item-hover: #DFDFDF;
  --special-page-item-active: #D5D5D5;
  --special-social-item: #E1E1E1;
}

/* global styles (header, footer, contacts) */

/* header navigation */

.main-header {
  background-color: var(--basic-background);
}

.navigation-link, .cart-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-title-dark);
}

.navigation-link:hover, .cart-link:hover {
  transition-duration: 0.2s;
  color: var(--special-red-hover);
}

.navigation-link:active, .cart-link:active {
  color: var(--basic-title-dark);
  opacity: 0.3;
}

.navigation-links li {
  list-style-type: none;
}

/* contacts */

.contact-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contact-address, .contact-phone a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-paragraph-light);
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-title-light);
  background-color: var(--special-red);
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 45px;
  border-radius: 3px;
}

.contact-link:hover {
  transition-duration: 0.2s;
  background-color: var(--special-red-hover);
}

.contact-link:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.contact-link:active span {
  opacity: 0.3;
}

/* footer */

.footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-paragraph-medium);
}

.social-item {
  list-style-type: none;
  background: var(--special-social-item);
  display: block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.social-item:hover {
  transition-duration: 0.2s;
  background-color: var(--special-red-hover);
  cursor: pointer;
}

.social-item:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: var(--special-red-active);
}

/* font */

.page {
  font-family: "Roboto", "Arial", sans-serif;
}

/* index.html */

/* slider */

.slider-block {
  background-color: var(--basic-background);
}

.slide-title {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-paragraph-dark);
}

.slide-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-title-light);
  background-color: var(--special-red);
  padding: 16px 54px;
  border-radius: 3px;
}

.slide-link:hover {
  transition-duration: 0.2s;
  background-color: var(--special-red-hover);
}

.slide-link:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slide-link:active span{
  opacity: 0.3;
}

.slide-item, .slide-button {
  list-style-type: none;
}

.slide-button button {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: var(--basic-title-light);
}

/* services */

.service-card {
  list-style-type: none;
}

.service-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-paragraph-dark);
}

.service-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-title-light);
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 3px;
}

  /* first card link */

.web-site-button:hover {
  transition-duration: 0.2s;
  background-color: var(--special-red-hover);
}

.web-site-button:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.web-site-button:active span {
  opacity: 0.3;
}

.web-site-button {
  background-color: var(--special-red);
}

  /* second card link */

.app-button:hover {
  transition-duration: 0.2s;
  background-color: var(--special-green-hover);
}

.app-button:active {
  background-color: var(--special-green-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.app-button:active span {
  opacity: 0.3;
}

.app-button {
  background-color: var(--special-green);
}

  /* third card link */

.presentation-button:hover {
  transition-duration: 0.2s;
  background-color: var(--special-yellow-hover);
}

.presentation-button:active {
  background-color: var(--special-yellow-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.presentation-button:active span {
  opacity: 0.3;
}

.presentation-button {
  background-color: var(--special-yellow);
}

/* company */

.company-title {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.company-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-paragraph-dark);
}

.orders-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-paragraph-dark);
}

.order-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-paragraph-dark);
}

.stats-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.stats-point {
  list-style-type: none;
}

.point-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-paragraph-dark);
}

.point-value {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

/* partners */

.partner-item {
  list-style-type: none;
}

/* catalog.html */

/* header */

.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-background);
}

/* sort menu */

.sort-style {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
  opacity: 0.3;
}

.sort-style:hover {
  opacity: 0.6;
  transition-duration: 0.2s;
  cursor: pointer;
}

.sort-style:active {
  opacity: 1;
}


.sort-arrow {
  list-style-type: none;
}

/* viewlist */

.viewlist-item {
  list-style-type: none;
}

.viewlist-item div {
  background-color: var(--basic-background);
}

.viewlist-item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.viewlist-item-title:hover {
  transition-duration: 0.2s;
  color: var(--special-red);
  cursor: pointer;
}

.viewlist-item-title:active {
  color: var(--basic-title-dark);
  opacity: 0.3;
}

.viewlist-item-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-paragraph-light);
}

.viewlist-item-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--special-red);
  padding: 15px 72px;
  color: var(--basic-title-light);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.viewlist-item-button:hover {
  transition-duration: 0.2s;
  background-color: var(--special-red-hover);
}

.viewlist-item-button:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pages-list li {
  list-style-type: none;
  width: 50px;
  height: 50px;
}

.pages-item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-background);
  border-radius: 3px;
  text-decoration: none;
  color: var(--basic-title-dark);
}

.next-page-item {
  width: 260px;
}

.pages-item:hover {
  transition-duration: 0.2s;
  border: none;
  background-color: var(--special-page-item-hover);
}

.pages-item:active {
  border: none;
  background-color: var(--special-page-item-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pages-item:active span {
  opacity: 0.3;
}

.active-page {
  border: 3px solid var(--basic-background);
  background-color: var(--basic-title-light);
}









