/* colors */

:root {
  --basic-title-dark: #000000;
  --basic-title-light: #FFFFFF;
  --basic-paragraph-dark: #283136;
  --basic-paragraph-medium: #444444;
  --basic-paragraph-light: #666666;
  --basic-background: #EEEEEE;


  --special-red: #FB565A;
  --special-red-hover: #E74246;
  --special-red-active: #D7373B;

  --special-yellow: #EFC849;
  --special-yellow-hover: #EAB534;
  --special-yellow-active: #E5A722;

  --special-green: #00CA74;
  --special-green-hover: #00BC6C;
  --special-green-active: #00AA62;

  --special-sort-arrow: #231F20;
  --special-page-item-hover: #DFDFDF;
  --special-page-item-active: #D5D5D5;
  --special-social-item: #E1E1E1;
}

/* global styles (header, footer, contacts) */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.page {
  height: 100%;
}

.body-page {
  display: grid;
  margin: 0;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* header navigation */

.main-header {
  padding-top: 50px;
  background-color: var(--basic-background);
  display: grid;
}

.main-navigation {
  display: grid;
  grid-template-columns: 160px auto 160px;
}

.navigation-link, .cart-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-title-dark);
}

.cart-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation-link:hover, .cart-link:hover {
  transition-duration: 0.2s;
  color: var(--special-red-hover);
}

.navigation-link:active, .cart-link:active {
  color: var(--basic-title-dark);
  opacity: 0.3;
}

.navigation-links li {
  list-style-type: none;
  margin: 0 22.5px;
}

.navigation-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

/* contacts */

.contact-block {
  background-color: var(--basic-background);
}

.contact-block .container {
  padding: 54px 0;
}

.contact-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contact-address, .contact-phone a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-paragraph-light);
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-title-light);
  background-color: var(--special-red);
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 45px;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 48px;
}

.contact-link:hover {
  transition-duration: 0.2s;
  background-color: var(--special-red-hover);
}

.contact-link:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.contact-link:active span {
  opacity: 0.3;
}

.contact-wrapper {
  width: 319px;
  padding: 50px 0 0 50px;
  background-color: var(--basic-title-light);
}
/* footer */

.footer-wrapper {
  display: grid;
  grid-template-columns: 260px auto;
  grid-gap: 140px;
}
.footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-paragraph-medium);
}

.sale-slogan-wrapper {
  order: 1;
}

.social-item {
  list-style-type: none;
  background: var(--special-social-item);
  display: block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.social-links {
  padding: 0;
  display: flex;
}

.social-item:hover {
  transition-duration: 0.2s;
  background-color: var(--special-red-hover);
  cursor: pointer;
}

.social-item:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: var(--special-red-active);
}

/* font */

.page {
  font-family: "Roboto", "Arial", sans-serif;
}

/* index.html */

/* slider */

.slider-block {
  background-color: var(--basic-background);
}
.slider {
  padding: 0;
}

.slide-item {
  padding: 80px 0;
  width: 600px;
}
.slide-title {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
}

.slide-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-paragraph-dark);
  margin: 25px 0 38px 0;
}

.slide-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-title-light);
  background-color: var(--special-red);
  padding: 16px 54px;
  border-radius: 3px;
  display: inline-block;
}

.slide-link:hover {
  transition-duration: 0.2s;
  background-color: var(--special-red-hover);
}

.slide-link:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slide-link:active span{
  opacity: 0.3;
}

.slide-item, .slide-button {
  list-style-type: none;
}

.slide-button button {
  display: none; /* временно отключил кнопки */
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: var(--basic-title-light);
}

/* services */

.service-card {
  list-style-type: none;
}

.service-cards {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  padding: 80px 0;
  grid-gap: 100px;
  border-bottom: 2px solid var(--basic-background);
}

.service-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 25px 0 16px 0;
}

.service-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-paragraph-dark);
  margin-bottom: 32px;
}

.service-link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-title-light);
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 3px;
}

  /* first card link */

.web-site-button:hover {
  transition-duration: 0.2s;
  background-color: var(--special-red-hover);
}

.web-site-button:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.web-site-button:active span {
  opacity: 0.3;
}

.web-site-button {
  background-color: var(--special-red);
}

  /* second card link */

.app-button:hover {
  transition-duration: 0.2s;
  background-color: var(--special-green-hover);
}

.app-button:active {
  background-color: var(--special-green-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.app-button:active span {
  opacity: 0.3;
}

.app-button {
  background-color: var(--special-green);
}

  /* third card link */

.presentation-button:hover {
  transition-duration: 0.2s;
  background-color: var(--special-yellow-hover);
}

.presentation-button:active {
  background-color: var(--special-yellow-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.presentation-button:active span {
  opacity: 0.3;
}

.presentation-button {
  background-color: var(--special-yellow);
}

/* company */

.company-info {
  display: grid;
  grid-template-columns: 1fr 360px;
}
.company-info-wrapper {
  display: flex;
  flex-direction: column;
}

.company-stats-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.company-title {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 72px 0 0 0;
}

.company-illustration {
  margin-top: 39px;
}

.company-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 32px 0 0 0;
  color: var(--basic-paragraph-dark);
}

.orders-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-paragraph-dark);
  margin: 40px 0 23px 0;
}

.order-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-paragraph-dark);
}

.stats-title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 37px;
}

.stats-point {
  list-style-type: none;
}

.stats-list {
  display: flex;
  padding: 0;
  margin-top: 31px;
}
.point-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-paragraph-dark);
}

.point-value {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.point-value span {
  font-size: 26px;
  line-height: 40px;
}

/* partners */

.partner-item {
  list-style-type: none;
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* catalog.html */

/* header */

.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-background);
  justify-self: center;
}
.catalog-main-content .container {
  display: grid;
  grid-template-columns: 260px auto;
  grid-gap: 140px;
}
/* временные стили для фильтра, чтобы примерно видеть грид на странице */

.filter {
  width: 260px;
  height: 1000px;
  background-color: var(--basic-background);
}

/* sort menu */

.sort-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sort-wrapper {
  padding: 0;
}
.sort-wrapper ul {
  display: flex;
}
.sort-style {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
  opacity: 0.3;
  margin-right: 28px;
}

.sort-style:hover {
  opacity: 0.6;
  transition-duration: 0.2s;
  cursor: pointer;
}

.sort-style:active {
  opacity: 1;
}

.sort-arrow {
  list-style-type: none;
}

/* viewlist */

.viewlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 0;
}
.viewlist-item {
  list-style-type: none;
  width: 360px;
}

.viewlist-item-info {
  background-color: var(--basic-background);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewlist-item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.viewlist-item-title:hover {
  transition-duration: 0.2s;
  color: var(--special-red);
  cursor: pointer;
}

.viewlist-item-title:active {
  color: var(--basic-title-dark);
  opacity: 0.3;
}

.viewlist-item-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-paragraph-light);
}

.viewlist-item-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--special-red);
  padding: 15px 72px;
  color: var(--basic-title-light);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.viewlist-item-button:hover {
  transition-duration: 0.2s;
  background-color: var(--special-red-hover);
}

.viewlist-item-button:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pages-list li {
  list-style-type: none;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.pages-list {
  display: flex;
  padding: 0;
}

.pages-item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-background);
  border-radius: 3px;
  text-decoration: none;
  color: var(--basic-title-dark);
}

.next-page-item {
  width: 260px;
}

.pages-item:hover {
  transition-duration: 0.2s;
  border: none;
  background-color: var(--special-page-item-hover);
}

.pages-item:active {
  border: none;
  background-color: var(--special-page-item-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pages-item:active span {
  opacity: 0.3;
}

.active-page {
  border: 3px solid var(--basic-background);
  background-color: var(--basic-title-light);
}





